<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <!-- CDNを利用して読み込でVueを使用 -->
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue.jsを学ぼう</title>
</head>
<body>
    <header><a href="/">目次へ</a></header>
<!-- id="app"でVueアプリケーションのエントリーポイント -->
<div id="app">
    <!-- <input 
        type="text" 
        v-on:input="message = $event.target.value"
        v-bind:value="message"
    > -->
    <!-- <input 
        type="text" 
        @input="name = $event.target.value"
        :value="name"
    > -->
    <input type="text" v-model="message">
    <p>{{ message }}</p>

    <div>底辺: <input type="text" v-model="base"> cm</div>
    <div>高さ: <input type="text" v-model="height"> cm</div>
    <div>底辺: {{ area }} 平方 cm</div>
    <br>
    <div>半径: <input type="text" v-model="radius"> cm</div>
    <div>円周: {{ circum }} cm</div>
    <div>面積: {{ square }} 平方 cm</div>
    <br>
    <table>
        <tr>
            <th>商品名</th><th>単価</th><th>数量</th><th>金額</th>
        </tr>
        <tr v-for="(product, key) in products" :key="key">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.price * product.stock }}</td>
        </tr>
    </table>
    <br>

    <table>
        <tr v-for="(number1, key) in numbers" :key="number">
            <td v-for="(number2, key) in numbers" :key="number">
                {{ number1 * number2 }}
            </td>
        </tr>
    </table>
</div>
<script src="main.js"></script>
</body>
</html>