<h1>お問合せフォーム</h1>
<form action="/complete" method="post">
    <dl>
        <dt>お名前</dt>
        <dd><input type="text" name="name"></dd>
        <dt>件名</dt>
        <dd><input type="text" name="title"></dd>
        <dt>メッセージ</dt>
        <dd><input type="text" name="message" rows="4"></dd>
    </dl>
    <button type="submit" class="btn btn-outline-success">送信する</button>
    <a href="/" class="btn btn-outline-warning">キャンセル</a>
</form>

