<div class="box fadeIn">
<div>
    <p>このアプリは、<b>「強さ」</b>を設定することによって、</p>
    <p>さまざまなリーグ表を作成してくれるアプリケーションです。</p>
</div>
<br>
<img src="top.png">
<br>
<br>
<br>
<a href="/input1_setting" class="btn btn-success">リーグ表を作ってみる</a>
</div>
