<%# <h1>ステップ1</h1> %>
<ol class="stepBar step3">
  <li class="step current">STEP1</li>
  <li class="step">STEP2</li>
  <li class="step">STEP3</li>
</ol>

<h3>プレイヤー名を入力してください。</h3>
<form action="/input2_strength" method="post">
    <dl>
        <dt>プレイヤー1</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー2</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー3</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー4</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー5</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー6</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー7</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー8</dt>
        <dd><input type="text" name="name[]"></dd><br>
        <dt>プレイヤー9</dt>
        <dd><input type="text" name="name[]"></dd><br>
    </dl>
    <a href="/" class="btn btn-outline-warning">ホームに戻る</a>
    <button type="submit" class="btn btn-outline-success">　　次へ　　</button>
</form>