body{
    margin: 0;
    background: url("../../0708_プログラミング入門_HTML/programming_src/bg.png") repeat;
    font-size: 14px;
    text-align: center;
}

h1 {
    background: url("../../0708_プログラミング入門_HTML/programming_src/title_bg.gif") repeat;
    font-size: 20px;
    color: white;x
    margin: 0;
    padding: 20px;
}

h2{
    color:crimson;
    margin: 30px;
}

h3{
    color: steelblue;
    margin:15px;
}

li{
    margin:12px;
    cursor:pointer;
}

ul{
    padding-left:0;
    list-style-position: inside;
}

.button01 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 160px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    transition: 0.3s;
  }
  
  .button01 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  
  .button01 a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
  }