/* .box { */
    /* padding:10px; */
    /* margin:0; */
    /* padding:0; */
    /* height: 100px;
    width: 100px;
	background: #4e7bcc;
    } */

p {
    display: inline;
    margin:10px;
    background: #4e7bcc;
    height: 100px;
    width: 100px;
	background: #4e7bcc;
} 
