form.diary-form textarea {
  width: 300px;
}
ul.diary-list {
  max-width: 600px;
  padding-left: 0;
  list-style: none;
}
ul.diary-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.diary-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #777;
}